<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Application</title>

		<script type="text/javascript" src="scripts/jquery.js"></script>

		<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">

		<script type="text/javascript" src="scripts/underscore.js"></script>

		<script type="text/javascript" src="scripts/backbone.js"></script>

		<script type="text/javascript" src="scripts/brython.js"></script>
		<!--<script type="text/javascript" src="scripts/brython_stdlib.js"></script>-->

		<script type="text/javascript" src="scripts/main.js"></script>
		<script type="text/python" src="scripts/main.py"></script>
		<!--<script type="text/python" src="models/abstract.py"></script>-->
	</head>

	<!--<body onload="console.timeEnd('time.html.beforeOnLoad'); console.time('time.brython.init'); brython(0)">-->
	<body onload="console.timeEnd('time.html.beforeOnLoad'); console.time('time.brython.init'); brython(1)">
	<!--<body onload="console.timeEnd('time.html.beforeOnLoad'); console.time('time.brython.init'); brython(2)">-->
	<!--<body onload="console.timeEnd('time.html.beforeOnLoad'); console.time('time.brython.init'); brython(10)">-->

		<div id="default"></div>
		<div id="main"></div>
		<div id="users"></div>
		<div id="groups"></div>

		<!--<div id="links"></div>-->
		<!--<script type="text/template">-->
		<!--    <div class="btn-group" style="width: 201px">-->
		<!--        <ul class="list-group">-->
		<!--            {{ if (!links) { }}-->
		<!--                No link-->
		<!--            {{ } else { }}-->
		<!--                {{ _.each(links, function(link) { }}-->
		<!--                    <li class="list-group-item"><a target="{{= link['href']}}">{{= link['title'] }}</a></li>-->
		<!--                {{ }); }}-->
		<!--            {{ }; }}-->
		<!--        </ul>-->
		<!--    </div>-->
		<!--</script>-->

	</body>
</html>
